
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('WhatsApp Image 2025-04-27 at 22.15.25.jpeg') no-repeat center center fixed;
  background-size: cover;
}

header {
  background: #ffffff;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 69px;
  animation: rotate 6s infinite linear;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #bc4a98;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 15px;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #fe9ee1;
  transition: width 0.4s;
}

nav a:hover::after {
  width: 100%;
}

section {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

section.home {
  background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExczZ0OWczdnR6c3UxeTlkbXphMzR4eHMxa29uYTcwYnNqd3llajg0YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MyfJJbjgYRivnYLulm/giphy.gif') no-repeat center center fixed;
  background-size: cover;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
